<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<form action="/skills" method="POST" autocomplete="off">
  <label for="skill">skill:</label>  
  <input type="text" name="skill">
  <label for="expYears">years of experience:</label>
  <input type="text" name="expYears">
  <label for="projects">projects:</label>
  <input type="text" name="projects">
  <button type="submit">Save Skill</button>
  <a href="/skills">Cancel</a>
</form>
</body>
</html>